/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-guten-weather-guten-weather {
	background-color: #2f4752;
	color: #fff;
	padding: 2px;
	border-radius: 5px;
}
