/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root{
	--defaultFont: 'Poppins', sans-serif;
	--regularFont: 400;
	--mediumFont: 500;
	--semiBoldFont: 600;
	--boldFont: 700;
	--whiteBg: #ffffff;
	--blackBg: #000;
	--animatedBg: #8CB8EA;
	--animatedMiddleBlueBg: #4A719E;
	--animatedDarkBlueBg: #263B52;
  }
  

.wp-block-guten-weather-guten-weather {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-family: var(--defaultFont);
	font-weight: var(--regularFont);
	.widget-weather-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
		width: 100%;
		&.layout--{
			&light{
				background: var(--whiteBg);
				color: var(--blackBg);
				.weather-air-quality-main-title{
					background: var(--blackBg);
				}
			}
			&dark{
				background: var(--blackBg);
				color: var(--whiteBg);
				.weather-air-quality-main-title{
					color: var(--blackBg);
					background: var(--whiteBg);
				}
			}
			&animated_icons{
				background: var(--animatedBg);
				color: var(--animatedDarkBlueBg);
				.weather-air-quality-main-title{
					color: var(--animatedDarkBlueBg);
					background: var(--animatedMiddleBlueBg);
				}
			}
		}
	}
	.weather-icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 25%;
	}
	.weather-temperature{
		font-size: 4rem;
		font-weight: var(--boldFont);
	}
	.weather-text-content{
		display: flex;
		flex-direction:column;
		width: 75%;
	}
	.weather-label{
		font-weight: var(--mediumFont);
		&:after{
			content: ':';
			margin-right: 5px;
		}
	}
	.weather-text {
		font-size: 2.5rem;
		font-weight: var(--semiBoldFont);
		margin-bottom: 10px;
	}
	.weather-air-quality-container{
		width: 100%;
		margin-top: 20px;
		.weather-air-quality-main-title{
			font-size: 1.2rem;
			font-weight: var(--semiBoldFont);
			color: var(--whiteBg);
			padding: 5px 10px;
			border-radius: 5px;
			margin-bottom: 20px;
		}
	}
}
