/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Yeti Weather block style */  

:root{
	--defaultFont: 'Poppins', sans-serif;
	--regularFont: 400;
	--mediumFont: 500;
	--semiBoldFont: 600;
	--boldFont: 700;
	--whiteBg: #ffffff;
	--blackBg: #000;
  }
  

.widget-weather-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-family: var(--defaultFont);
	font-weight: var(--regularFont);
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
	.weather-icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 25%;
		@media screen and (max-width: 768px) {
			width: 30%;
		}
		@media screen and (max-width: 480px) {
			width: 40%;
		}
	}
	.weather-temperature{
		font-size: 4rem;
		font-weight: var(--boldFont);
	}
	.weather-text-content{
		display: flex;
		flex-direction:column;
		width: 75%;
		@media screen and (max-width: 768px) {
			width: 70%;
		}
		@media screen and (max-width: 480px) {
			width: 60%;
		}
	}
	.weather-label{
		font-weight: var(--mediumFont);
		&:after{
			content: ':';
			margin-right: 5px;
		}
	}
	.weather-text {
		font-size: 2.5rem;
		font-weight: var(--semiBoldFont);
		margin-bottom: 10px;
		word-break: break-all;
		@media screen and (max-width: 768px) {
			font-size: 2rem;
		}
		@media screen and (max-width: 480px) {
			font-size: 1.5rem;
		}
	}
	.weather-forecast-container{
		width: 100%;
	}
	.weather-forecast-container,
	.weather-forecast-day-container{
		overflow-x: hidden;
	}
	.weather-forecast-day-container{
		border-radius: 5px;
		padding: 20px 10px;
		margin-top: 20px;
		.weather-forecast-day-main-title{
			font-size: 1.2rem;
			font-weight: var(--semiBoldFont);
			color: var(--whiteBg);
			background-color: var(--blackBg);
			padding: 5px 10px;
			border-radius: 5px;
			margin-bottom: 20px;
		}
		.weather-day-container{
			margin-bottom: 20px;
		}
		.weather-day-condition{
			display: flex;
			flex-direction: row;
			align-items: stretch;
			.weather-icon{
				width: 25%;
				@media screen and (max-width: 768px) {
					width: 30%;
				}
				@media screen and (max-width: 480px) {
					width: 40%;
				}
			}
			.weather-day-content{
				width: 75%;
				@media screen and (max-width: 768px) {
					width: 70%;
					
				}
				@media screen and (max-width: 480px) {
					width: 60%;
				}
				.weather-text{
					font-size: 1.5rem;
				}
			}
		}
		.weather-carousel-wrapper{
			display: flex;
			flex-direction: row;
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			scrollbar-width: thin;
			scroll-behavior: smooth;
			&::-webkit-scrollbar {
				width: 2px;
				height: 6px;
			  }
			  
			&::-webkit-scrollbar-track {
				background: #ffffff;
			  }
			  
			&::-webkit-scrollbar-thumb {
				background: #000000;
				border-radius: 3px;
			  }			
		}
		.weather-hour-container{
			position: relative;
			.weather-hour-content{
				text-align: center;
				position: relative;
				width: 33.3%;
				padding: 0 20px 10px 20px;
				@media screen and (max-width: 768px) {
					width: 50%;
				}
				@media screen and (max-width: 480px) {
					width: 100%;
				}
				&:after{
					content: '';
					width: 1px;
					height: 40px;
					background: var(--blackBg);
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}
				.weather-hour-condition{
					.weather-icon{
						width: 70px;
						height: 70px;
						display: inline-block;
						text-align: center;
					}
				}
			}
		}
	}
}
